.font6px
{
    font-size:0.375em;
}

.font7px
{
    font-size:0.438em;
}

.font8px
{
    font-size:0.5em;
}

.font9px
{
    font-size:0.563em;
}

.font10px
{
    font-size:0.625em;
}

.font11px
{
    font-size:0.688em;
}

.font12px
{
    font-size:0.75em;
}

.font13px
{
    font-size:0.813em;
}

.font14px
{
    font-size:0.875em;
}

.font15px
{
    font-size:0.938em;
}

.font16px
{
    font-size:1em;
}

.font17px
{
    font-size:1.063em;
}

.font18px
{
    font-size:1.125em;
}

.font19px
{
    font-size:1.188em;
}

.font20px
{
    font-size:1.25em;
}

.font21px
{
    font-size:1.313em;
}

.font22px
{
    font-size:1.375em;
}

.font23px
{
    font-size:1.438em;
}

.font24px
{
    font-size:1.5em;
}