.ACA_NaviTitle .ACA_Body_Text,
.ACA_NaviTitle #ctl00_HeaderNavigation_com_headNav_label_loggedinas,
.ACA_NaviTitle #ctl00_HeaderNavigation_lblUserName,
.ACA_NaviTitle #ctl00_HeaderNavigation_lblAccessibilityAfter,
.ACA_NaviTitle #ctl00_HeaderNavigation_lblAccessibilityBefore,
.ACA_NaviTitle a {
  color: #21BCFF;
  font-size: 1.1em !important;
  font-weight: 500 !important;
  line-height: 16px;
}
.ACA_NaviTitle a {
  color: #21BCFF;
  text-decoration: none;
}
.ACA_NaviTitle a:active span {
  color: #464646;
}
.ACA_NaviTitle a:hover span {
  color: #0D9AFF;
}
.ACA_NaviTitle table div table *[id*="Split"],
.ACA_NaviTitle table div table td:nth-child(3) {
  visibility: hidden;
}
.ACA_NaviTitle .NAVIGATION_INPUT_CHKBOX {
  margin-bottom: 2px;
}
.ACA_NaviTitle #ctl00_HeaderNavigation_lblAccessibilityBefore {
  font-size: 1.2em !important;
  line-height: 1.8em;
}
.ACA_NaviTitle #ctl00_HeaderNavigation_lblAccessibilityBefore:hover {
  color: #0D9AFF;
}
.ACA_NaviTitle #imgShoppingCart {
  width: 16px;
  margin-right: 3px;
}
